<!-- Custom head -->

{{/* <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" defer></script>
<script>
  window.OneSignal = window.OneSignal || [];
  OneSignal.push(function () {
    OneSignal.init({
      appId: "573a9efd-caf6-4d8f-b08d-44ab47559c15",
    });
  });
</script>  */}}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-J0HVZBWTNT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'G-J0HVZBWTNT', {
    cookie_domain: 'sugengsulistiyawan.my.id',
    cookie_flags: 'SameSite=None;Secure',
  });
</script>
