<footer class="footer text-muted mt-5">
  <div class="container-{{ if .Site.Params.options.fullWidth }}fluid{{ else }}xxl{{ end }} text-center">

    <div class="fs-6">
      {{ if .Site.Params.copyRight }}
        {{ .Site.Params.copyRight | safeHTML }}. {{ .Site.Params.footer | safeHTML }}.
      {{ else }}
        Copyright © {{ now.Year }} <a class="text-primary" href="{{ "" | absURL }}"><strong>{{ .Site.Params.Title }}</strong></a>. {{ .Site.Params.footer | safeHTML }}.
      {{ end }}
    </div>

    <ul class="list-inline">
      {{ range .Site.Menus.footer -}}
        <li class="list-inline-item"><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
      {{ end -}}
    </ul>

  </div>
</footer>
