{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center align-items-center gap-3">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
    </div>
  </div>

  <div class="row justify-content-center align-items-center gap-3 mt-3 mb-4">
    <div class="col-lg-12 text-center">
      💬 Ask me about anything <a href="https://github.com/sugeng-sulistiyawan/sugeng-sulistiyawan/issues"
        target="_blank" rel="noopener">here</a>
    </div>

    <div class="col-lg-12 text-center">

      <h3 class="mb-4"><strong>Technology, Language and Tools I Use</strong></h3>

      <a href="#" title="Amazon AWS" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/amazonaws.svg" | absURL }}"
          alt="Amazon AWS" /></a>
      <a href="#" title="Amazon S3" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/amazons3.svg" | absURL }}"
          alt="Amazon S3" /></a>
      <a href="#" title="Android Studio" class="d-inline-block m-1"><img height="32"
          src="{{ "images/svg/androidstudio.svg" | absURL }}" alt="Android Studio" /></a>
      <a href="#" title="Arduino" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/arduino.svg" | absURL }}"
          alt="Arduino" /></a>
      <a href="#" title="Bower" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/bower.svg" | absURL }}"
          alt="Bower" /></a>
      <a href="#" title="Bootstrap" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/bootstrap.svg" | absURL }}"
          alt="Bootstrap" /></a>
      <a href="#" title="C++" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/cplusplus.svg" | absURL }}"
          alt="C++" /></a>
      <a href="#" title="C" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/c.svg" | absURL }}" alt="C" /></a>
      <a href="#" title="Canva" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/canva.svg" | absURL }}"
          alt="Canva" /></a>
      <a href="#" title="Chocolatey" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/chocolatey.svg" | absURL }}"
          alt="Chocolatey" /></a>
      <a href="#" title="CodeIgniter" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/codeigniter.svg" | absURL }}"
          alt="CodeIgniter" /></a>
      <a href="#" title="Composer" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/composer.svg" | absURL }}"
          alt="Composer" /></a>
      <a href="#" title="cPanel" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/cpanel.svg" | absURL }}"
          alt="cPanel" /></a>
      <a href="#" title="CSS3" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/css3.svg" | absURL }}" alt="CSS3" /></a>
      <a href="#" title="Dart" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/dart.svg" | absURL }}" alt="Dart" /></a>
      <a href="#" title="Delphi" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/delphi.svg" | absURL }}"
          alt="Delphi" /></a>
      <a href="#" title="Docker" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/docker.svg" | absURL }}"
          alt="Docker" /></a>
      <a href="#" title="Eagle" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/eagle.svg" | absURL }}"
          alt="Eagle" /></a>
      <a href="#" title="Electron" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/electron.svg" | absURL }}"
          alt="Electron" /></a>
      <a href="#" title="Expo" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/expo.svg" | absURL }}" alt="Expo" /></a>
      <a href="#" title="Firebase" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/firebase.svg" | absURL }}"
          alt="Firebase" /></a>
      <a href="#" title="Figma" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/figma.svg" | absURL }}"
          alt="Figma" /></a>
      <a href="#" title="Flutter" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/flutter.svg" | absURL }}"
          alt="Flutter" /></a>
      <a href="#" title="Font Awesome" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/fontawesome.svg" | absURL }}"
          alt="Font Awesome" /></a>
      <a href="#" title="Gatsby" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/gatsby.svg" | absURL }}"
          alt="Gatsby" /></a>
      <a href="#" title="Git" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/git.svg" | absURL }}" alt="Git" /></a>
      <a href="#" title="Go" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/go.svg" | absURL }}" alt="Go" /></a>
      <a href="#" title="Google Cloud" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/googlecloud.svg" | absURL }}"
          alt="Google Cloud" /></a>
      <a href="#" title="Google Analytics" class="d-inline-block m-1"><img height="32"
          src="{{ "images/svg/googleanalytics.svg" | absURL }}" alt="Google Analytics" /></a>
      <a href="#" title="Google Fonts" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/googlefonts.svg" | absURL }}"
          alt="Google Fonts" /></a>
      <a href="#" title="Google Play" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/googleplay.svg" | absURL }}"
          alt="Google Play" /></a>
      <a href="#" title="Google Tag Manager" class="d-inline-block m-1"><img height="32"
          src="{{ "images/svg/googletagmanager.svg" | absURL }}" alt="Google Tag Manager" /></a>
      <a href="#" title="Google Sheets" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/googlesheets.svg" | absURL }}"
          alt="Google Sheets" /></a>
      <a href="#" title="Google Search Console" class="d-inline-block m-1"><img height="32"
          src="{{ "images/svg/googlesearchconsole.svg" | absURL }}" alt="Google Search Console" /></a>
      <a href="#" title="Grafana" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/grafana.svg" | absURL }}"
          alt="Grafana" /></a>
      <a href="#" title="GraphQL" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/graphql.svg" | absURL }}"
          alt="GraphQL" /></a>
      <a href="#" title="gulp" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/gulp.svg" | absURL }}" alt="gulp" /></a>
      <a href="#" title="Hugo" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/hugo.svg" | absURL }}" alt="Hugo" /></a>
      <a href="#" title="HTML5" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/html5.svg" | absURL }}"
          alt="HTML5" /></a>
      <a href="#" title="Icons8" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/icons8.svg" | absURL }}"
          alt="Icons8" /></a>
      <a href="#" title="Inkscape" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/inkscape.svg" | absURL }}"
          alt="Inkscape" /></a>
      <a href="#" title="Ionic" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/ionic.svg" | absURL }}"
          alt="Ionic" /></a>
      <a href="#" title="Joomla" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/joomla.svg" | absURL }}"
          alt="Joomla" /></a>
      <a href="#" title="jQuery" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/jquery.svg" | absURL }}"
          alt="jQuery" /></a>
      <a href="#" title="JSS" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/jss.svg" | absURL }}" alt="JSS" /></a>
      <a href="#" title="JavaScript" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/javascript.svg" | absURL }}"
          alt="JavaScript" /></a>
      <a href="#" title="JSON" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/json.svg" | absURL }}" alt="JSON" /></a>
      <a href="#" title="Kotlin" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/kotlin.svg" | absURL }}"
          alt="Kotlin" /></a>
      <a href="#" title="Kubernetes" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/kubernetes.svg" | absURL }}"
          alt="Kubernetes" /></a>
      <a href="#" title="Laragon" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/laragon.svg" | absURL }}"
          alt="Laragon" /></a>
      <a href="#" title="Laravel" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/laravel.svg" | absURL }}"
          alt="Laravel" /></a>
      <a href="#" title="LaTeX" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/latex.svg" | absURL }}"
          alt="LaTeX" /></a>
      <a href="#" title="Less" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/less.svg" | absURL }}" alt="Less" /></a>
      <a href="#" title="Let's Encrypt" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/letsencrypt.svg" | absURL }}"
          alt="Let's Encrypt" /></a>
      <a href="#" title="LibreOffice" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/libreoffice.svg" | absURL }}"
          alt="LibreOffice" /></a>
      <a href="#" title="Linux" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/linux.svg" | absURL }}"
          alt="Linux" /></a>
      <a href="#" title="Livewire" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/livewire.svg" | absURL }}"
          alt="Livewire" /></a>
      <a href="#" title="Lumen" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/lumen.svg" | absURL }}"
          alt="Lumen" /></a>
      <a href="#" title="MariaDB" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/mariadb.svg" | absURL }}"
          alt="MariaDB" /></a>
      <a href="#" title="Material Design Icons" class="d-inline-block m-1"><img height="32"
          src="{{ "images/svg/materialdesignicons.svg" | absURL }}" alt="Material Design Icons" /></a>
      <a href="#" title="MDX" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/mdx.svg" | absURL }}" alt="MDX" /></a>
      <a href="#" title="Microsoft Office" class="d-inline-block m-1"><img height="32"
          src="{{ "images/svg/microsoftoffice.svg" | absURL }}" alt="Microsoft Office" /></a>
      <a href="#" title="Microsoft Visio" class="d-inline-block m-1"><img height="32"
          src="{{ "images/svg/microsoftvisio.svg" | absURL }}" alt="Microsoft Visio" /></a>
      <a href="#" title="MongoDB" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/mongodb.svg" | absURL }}"
          alt="MongoDB" /></a>
      <a href="#" title="MySQL" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/mysql.svg" | absURL }}"
          alt="MySQL" /></a>
      <a href="#" title="Node.js" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/nodedotjs.svg" | absURL }}"
          alt="Node.js" /></a>
      <a href="#" title="Notion" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/notion.svg" | absURL }}"
          alt="Notion" /></a>
      <a href="#" title="npm" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/npm.svg" | absURL }}" alt="npm" /></a>
      <a href="#" title="OBS Studio" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/obsstudio.svg" | absURL }}"
          alt="OBS Studio" /></a>
      <a href="#" title="Packagist" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/packagist.svg" | absURL }}"
          alt="Packagist" /></a>
      <a href="#" title="Perl" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/perl.svg" | absURL }}" alt="Perl" /></a>
      <a href="#" title="PHP" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/php.svg" | absURL }}" alt="PHP" /></a>
      <a href="#" title="PostgreSQL" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/postgresql.svg" | absURL }}"
          alt="PostgreSQL" /></a>
      <a href="#" title="PostCSS" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/postcss.svg" | absURL }}"
          alt="PostCSS" /></a>
      <a href="#" title="PrestaShop" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/prestashop.svg" | absURL }}"
          alt="PrestaShop" /></a>
      <a href="#" title="Prisma" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/prisma.svg" | absURL }}"
          alt="Prisma" /></a>
      <a href="#" title="Prezi" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/prezi.svg" | absURL }}"
          alt="Prezi" /></a>
      <a href="#" title="Prometheus" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/prometheus.svg" | absURL }}"
          alt="Prometheus" /></a>
      <a href="#" title="Proto.io" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/protodotio.svg" | absURL }}"
          alt="Proto.io" /></a>
      <a href="#" title="PWA" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/pwa.svg" | absURL }}" alt="PWA" /></a>
      <a href="#" title="Pusher" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/pusher.svg" | absURL }}"
          alt="Pusher" /></a>
      <a href="#" title="Python" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/python.svg" | absURL }}"
          alt="Python" /></a>
      <a href="#" title="Raspberry Pi" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/raspberrypi.svg" | absURL }}"
          alt="Raspberry Pi" /></a>
      <a href="#" title="React" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/react.svg" | absURL }}"
          alt="React" /></a>
      <a href="#" title="Redis" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/redis.svg" | absURL }}"
          alt="Redis" /></a>
      <a href="#" title="Sass" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/sass.svg" | absURL }}" alt="Sass" /></a>
      <a href="#" title="SemVer" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/semver.svg" | absURL }}"
          alt="SemVer" /></a>
      <a href="#" title="SketchUp" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/sketchup.svg" | absURL }}"
          alt="SketchUp" /></a>
      <a href="#" title="Socket.io" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/socketdotio.svg" | absURL }}"
          alt="Socket.io" /></a>
      <a href="#" title="StackBlitz" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/stackblitz.svg" | absURL }}"
          alt="StackBlitz" /></a>
      <a href="#" title="Swagger" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/swagger.svg" | absURL }}"
          alt="Swagger" /></a>
      <a href="#" title="Symfony" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/symfony.svg" | absURL }}"
          alt="Symfony" /></a>
      <a href="#" title="Tailwind CSS" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/tailwindcss.svg" | absURL }}"
          alt="Tailwind CSS" /></a>
      <a href="#" title="Travis CI" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/travisci.svg" | absURL }}"
          alt="Travis CI" /></a>
      <a href="#" title="Trello" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/trello.svg" | absURL }}"
          alt="Trello" /></a>
      <a href="#" title="Twilio" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/twilio.svg" | absURL }}"
          alt="Twilio" /></a>
      <a href="#" title="TypeScript" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/typescript.svg" | absURL }}"
          alt="TypeScript" /></a>
      <a href="#" title="Vite" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/vite.svg" | absURL }}" alt="Vite" /></a>
      <a href="#" title="Visual Studio Code" class="d-inline-block m-1"><img height="32"
          src="{{ "images/svg/visualstudiocode.svg" | absURL }}" alt="Visual Studio Code" /></a>
      <a href="#" title="Vue.js" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/vuedotjs.svg" | absURL }}"
          alt="Vue.js" /></a>
      <a href="#" title="WebGL" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/webgl.svg" | absURL }}"
          alt="WebGL" /></a>
      <a href="#" title="WebRTC" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/webrtc.svg" | absURL }}"
          alt="WebRTC" /></a>
      <a href="#" title="WordPress" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/wordpress.svg" | absURL }}"
          alt="WordPress" /></a>
      <a href="#" title="XAMPP" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/xampp.svg" | absURL }}"
          alt="XAMPP" /></a>
      <a href="#" title="Yarn" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/yarn.svg" | absURL }}" alt="Yarn" /></a>
      <a href="#" title="KiCad" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/kicad.svg" | absURL }}"
          alt="KiCad" /></a>
      <a href="#" title="Yii Framework" class="d-inline-block m-1"><img height="32" src="{{ "images/svg/yiiframework.svg" | absURL }}"
          alt="Yii Framework" /></a>

    </div>
  </div>

  <div class="row justify-content-center align-items-center gap-3 col-img-light" style="display: none;">
    <div class="col-lg-6">
      <img
        src="https://github-readme-stats.vercel.app/api?username=sugeng-sulistiyawan&show_icons=true&include_all_commits=true&hide_border=true&theme=buefy"
        class="w-100" />
    </div>
    <div class="col-lg-6">
      <img
        src="https://github-readme-stats.vercel.app/api/top-langs/?username=sugeng-sulistiyawan&layout=compact&hide_border=true&theme=buefy"
        class="w-100" />
    </div>
  </div>
  <div class="row justify-content-center align-items-center gap-3 col-img-dark" style="display: none;">
    <div class="col-lg-6">
      <img
        src="https://github-readme-stats.vercel.app/api?username=sugeng-sulistiyawan&show_icons=true&include_all_commits=true&hide_border=true&theme=dark"
        class="w-100" />
    </div>
    <div class="col-lg-6">
      <img
        src="https://github-readme-stats.vercel.app/api/top-langs/?username=sugeng-sulistiyawan&layout=compact&hide_border=true&theme=dark"
        class="w-100" />
    </div>
  </div>

  <div class="text-center mb-5">
    <hr>
    <h3 class="mt-5"><strong>Top Repositories</strong></h3>
  </div>

  <div class="row justify-content-center align-items-center gap-3 col-img-light" style="display: none;">
    <div class="col-lg-6">
      <a href="https://github.com/sugeng-sulistiyawan/sugeng-sulistiyawan.github.io" target="_blank" rel="noopener">
        <img
          src="https://github-readme-stats.vercel.app/api/pin/?username=sugeng-sulistiyawan&repo=sugeng-sulistiyawan.github.io&hide_border=true&theme=yeblu"
          class="w-100" />
      </a>
    </div>

    <div class="clearfix"></div>

    <div class="col-lg-6">
      <a href="https://github.com/sugeng-sulistiyawan/yii2-toastr" target="_blank" rel="noopener">
        <img
          src="https://github-readme-stats.vercel.app/api/pin/?username=sugeng-sulistiyawan&repo=yii2-toastr&hide_border=true&theme=swift"
          class="w-100" />
      </a>
    </div>
    <div class="col-lg-6">
      <a href="https://github.com/sugeng-sulistiyawan/yii2-dropify" target="_blank" rel="noopener">
        <img
          src="https://github-readme-stats.vercel.app/api/pin/?username=sugeng-sulistiyawan&repo=yii2-dropify&hide_border=true&theme=swift"
          class="w-100" />
      </a>
    </div>
    <div class="col-lg-6">
      <a href="https://github.com/sugeng-sulistiyawan/yii2-aws-s3" target="_blank" rel="noopener">
        <img
          src="https://github-readme-stats.vercel.app/api/pin/?username=sugeng-sulistiyawan&repo=yii2-aws-s3&hide_border=true&theme=swift"
          class="w-100" />
      </a>
    </div>
    <div class="col-lg-6">
      <a href="https://github.com/sugeng-sulistiyawan/yii2-seeder" target="_blank" rel="noopener">
        <img
          src="https://github-readme-stats.vercel.app/api/pin/?username=sugeng-sulistiyawan&repo=yii2-seeder&hide_border=true&theme=swift"
          class="w-100" />
      </a>
    </div>
    <div class="col-lg-6">
      <a href="https://github.com/sugeng-sulistiyawan/yii2-slick" target="_blank" rel="noopener">
        <img
          src="https://github-readme-stats.vercel.app/api/pin/?username=sugeng-sulistiyawan&repo=yii2-slick&hide_border=true&theme=swift"
          class="w-100" />
      </a>
    </div>
    <div class="col-lg-6">
      <a href="https://github.com/sugeng-sulistiyawan/yii2-barcode-generator" target="_blank" rel="noopener">
        <img
          src="https://github-readme-stats.vercel.app/api/pin/?username=sugeng-sulistiyawan&repo=yii2-barcode-generator&hide_border=true&theme=swift"
          class="w-100" />
      </a>
    </div>
  </div>
  <div class="row justify-content-center align-items-center gap-3 col-img-dark" style="display: none;">
    <div class="col-lg-6">
      <a href="https://github.com/sugeng-sulistiyawan/sugeng-sulistiyawan.github.io" target="_blank" rel="noopener">
        <img
          src="https://github-readme-stats.vercel.app/api/pin/?username=sugeng-sulistiyawan&repo=sugeng-sulistiyawan.github.io&hide_border=true&theme=swift"
          class="w-100" />
      </a>
    </div>

    <div class="clearfix"></div>

    <div class="col-lg-6">
      <a href="https://github.com/sugeng-sulistiyawan/yii2-toastr" target="_blank" rel="noopener">
        <img
          src="https://github-readme-stats.vercel.app/api/pin/?username=sugeng-sulistiyawan&repo=yii2-toastr&hide_border=true&theme=aura"
          class="w-100" />
      </a>
    </div>
    <div class="col-lg-6">
      <a href="https://github.com/sugeng-sulistiyawan/yii2-dropify" target="_blank" rel="noopener">
        <img
          src="https://github-readme-stats.vercel.app/api/pin/?username=sugeng-sulistiyawan&repo=yii2-dropify&hide_border=true&theme=aura"
          class="w-100" />
      </a>
    </div>
    <div class="col-lg-6">
      <a href="https://github.com/sugeng-sulistiyawan/yii2-aws-s3" target="_blank" rel="noopener">
        <img
          src="https://github-readme-stats.vercel.app/api/pin/?username=sugeng-sulistiyawan&repo=yii2-aws-s3&hide_border=true&theme=aura"
          class="w-100" />
      </a>
    </div>
    <div class="col-lg-6">
      <a href="https://github.com/sugeng-sulistiyawan/yii2-seeder" target="_blank" rel="noopener">
        <img
          src="https://github-readme-stats.vercel.app/api/pin/?username=sugeng-sulistiyawan&repo=yii2-seeder&hide_border=true&theme=aura"
          class="w-100" />
      </a>
    </div>
    <div class="col-lg-6">
      <a href="https://github.com/sugeng-sulistiyawan/yii2-slick" target="_blank" rel="noopener">
        <img
          src="https://github-readme-stats.vercel.app/api/pin/?username=sugeng-sulistiyawan&repo=yii2-slick&hide_border=true&theme=aura"
          class="w-100" />
      </a>
    </div>
    <div class="col-lg-6">
      <a href="https://github.com/sugeng-sulistiyawan/yii2-barcode-generator" target="_blank" rel="noopener">
        <img
          src="https://github-readme-stats.vercel.app/api/pin/?username=sugeng-sulistiyawan&repo=yii2-barcode-generator&hide_border=true&theme=aura"
          class="w-100" />
      </a>
    </div>
  </div>

</section>
{{ end }}

{{ define "sidebar-prefooter" }}{{ end }}

{{ define "sidebar-prefooter-bak" }}
{{ if eq $.Site.Language.LanguageName "English" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Security aware</h2>
        <p>Get A+ scores on <a href="https://observatory.mozilla.org/analyze/sugeng-sulistiyawan.github.io">Mozilla
            Observatory</a>
          out of the box. Easily change the default Security Headers to suit your needs.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Fast by default ⚡️</h2>
        <p>Get 100 scores on <a
            href="https://googlechrome.github.io/lighthouse/viewer/?gist=59aafe464a68f8bc30b8e9a636d5b053">Google
            Lighthouse</a> by default. Doks removes unused css, prefetches links, and lazy loads images.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">SEO-ready</h2>
        <p>Use sensible defaults for structured data, open graph, and Twitter cards. Or easily change the SEO settings
          to your liking.</p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Full text search</h2>
        <p>Search your Doks site with FlexSearch. Easily customize index settings and search options to your liking.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Page layouts</h2>
        <p>Build pages with a landing page, blog, or documentation layout. Add custom sections and components to suit
          your needs.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Dark mode</h2>
        <p>Switch to a low-light UI with the click of a button. Change colors with variables to match your branding.</p>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
